<main class="page">
    <section class="shopping-cart dark">
        <div class="container">
           <div class="block-heading">
             <h2>Congratulations 🎉</h2>
             <p>Your order has been completed successfully.</p>
           </div>
           <div class="content">
            <div class="alert alert-primary" role="alert">
                Your order #<%= order.id %> will be shipped to you as soon as possible.
            </div>
          </div>
        </div>
   </section>
  </main>